<section id="icon-boxes" class="icon-boxes">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
        data-aos="fade-up">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">Personagem</a></h4>
          <p class="description">A mãe de guerra Glacinata da tribo de Avarosa, Ashe comanda a horda mais populosa do
            norte. Estoica, inteligente e
            idealista, mesmo que desconfortável com seu papel de liderança, ela canaliza as magias ancestrais de sua
            linhagem para
            empunhar um arco</p>
          <img src="../../../assets/css/e95a47de412b61ff1c650336239d5524.png" id="ashe">
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
        data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Personagem</a></h4>
          <p class="description">A mãe de guerra Glacinata da tribo de Avarosa, Ashe comanda a horda mais populosa do
            norte. Estoica, inteligente e
            idealista, mesmo que desconfortável com seu papel de liderança, ela canaliza as magias ancestrais de sua
            linhagem para
            empunhar um arco</p>
          <img src="../../../assets/css/e95a47de412b61ff1c650336239d5524.png" id="ashe">
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
        data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Personagem</a></h4>
          <p class="description">A mãe de guerra Glacinata da tribo de Avarosa, Ashe comanda a horda mais populosa do
            norte. Estoica, inteligente e
            idealista, mesmo que desconfortável com seu papel de liderança, ela canaliza as magias ancestrais de sua
            linhagem para
            empunhar um arco</p>
          <img src="../../../assets/css/e95a47de412b61ff1c650336239d5524.png" id="ashe">
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init aos-animate" id="md6"
        data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4 class="title"><a href="">Personagem</a></h4>
          <p class="description">A mãe de guerra Glacinata da tribo de Avarosa, Ashe comanda a horda mais populosa do
            norte. Estoica, inteligente e
            idealista, mesmo que desconfortável com seu papel de liderança, ela canaliza as magias ancestrais de sua
            linhagem para
            empunhar um arco</p>
          <img src="../../../assets/css/e95a47de412b61ff1c650336239d5524.png" id="ashe">
        </div>
      </div>

    </div>

  </div>
</section>
